.add-fluid {
    margin : 0px !important;
    padding : 0px !important;  
}

.full-width {
    width: 100%;
}

.full-width-white {
    width: 100%;
    background : #ffff;
}
.table-overflow-mh-400{
  max-height : 400px;
  overflow-y : hidden;
}
.table-overflow-mh-400:hover{
  overflow-y : scroll;
}

.pt-10 {
  padding-top : 10px;
}

.np {
   padding: 0px !important;
}

.nm-top {
  margin-top : 0px;
}

.nmb {
  margin-bottom : 0px;
}

.g { border:1px solid red; }
.center { margin: 0 auto !important; float: none !important; }
.rp { padding-left: 0 !important; padding-right: 0 !important; }

.border-right {
  
}


.table-sf td {
      font-size : 13px;
}


.table-sf th {
      font-size : 13px;
}

.sf{
   font-size : 13px !important;
}


.year-selector {
  font-size : 12px;
  margin-bottom : 8px;

}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

.tile-container {
    font-size : 13px;
    height: 430px;
    max-height : 430px;
    margin-bottom : 10px;
   // overflow-y: scroll;

}



.pr-5 {
  padding-right : 5px !important;
} 

.groups-container {
    min-height: 210px;
    max-height: 210px;
    margin: 0px 0px 8px 0px;
    overflow: hidden;

}

.groups-container li {
   background: #f5f6f8;
}

.groups-container li:nth-child(odd) {
   background: #fff;
}

.groups-container:hover{
    overflow-y : scroll;
}

.font-15 {
  font-size : 15px;
}

.font-14 {
  font-size : 14px;
}


.font-13 {
  font-size : 13px;
}

.dropZone {
    position: absolute;
    width: 318px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    left: px;
    top: 0px;
  //  background : #fff;
  //  opacity: 0.5 !important;
  // filter: alpha(opacity=50) !important;
  z-index : -9999999;
}