.module-header {
	margin-bottom: 10px;

	.module-title {
		font-size: 24px;
	}
}

.top-bar-container {
   border-bottom: 1px solid #ddd;
   height: 100px; 
   position: fixed; 
   width: 100%;
   z-index: 999999;
   background: #fff;
}
.top-bar {
  
   position: fixed;
   height : 100px;
   background: #fff;
   border-bottom: 1px solid #ddd;
   position: fixed;
   z-index : 9999;

}

.top-body-padding{
  padding-top: 100px;
}

.margin-5 {
  margin : 5px;
}

.padding-2 {
  padding : 3px;
}


.side-bar {
  min-width: 205px; 
  display: block; 
  min-height: 100%; 
  position: fixed; 
  top: 0; 
  background : #fff;
  border-right: 1px solid #ddd;
  z-index : 80;
}

.main-content-holder {
  
  min-width: 100%; 
  display: block; 
  min-height: 100%; 
  position: absolute; 
  top: 0; 
  border: 1px solid blue;
  padding: 100px 0 0 200px;

}

.dashboard-content-holder {
  
  min-width: 100%; 
  display: block; 
  min-height: 100%; 
  position: absolute; 
  top: 0; 
 border: 1px solid blue;
  padding: 100px 0 0 0;

}

.content-container {
  border: 1px solid blue;
   padding-bottom: 40px; 
   margin-left: 235px; 
   min-height: 400px; 
   max-height: 100%;
}
