.add-fluid {
    margin : 0px !important;
    padding : 0px !important;  
}

.full-width {
    width: 100%;
}

.full-width-white {
    width: 100%;
    background : #ffff;
}
.table-overflow-mh-400{
  max-height : 400px;
  overflow-y : hidden;
}
.table-overflow-mh-400:hover{
  overflow-y : scroll;
}

.pt-10 {
  padding-top : 10px;
}

.np {
   padding: 0px !important;
}

.nm {
  margin:0px !important;
}

.nm-top {
  margin-top : 0px;
}

.nmb {
  margin-bottom : 0px !important;
}

.g { border:1px solid red; }
.center { margin: 0 auto !important; float: none !important; }
.rp { padding-left: 0 !important; padding-right: 0 !important; }

.border-right {
  
}


.table-sf td {
      font-size : 13px;
}


.table-sf th {
      font-size : 13px;
}

.sf{
   font-size : 13px !important;
}


.year-selector {
  font-size : 12px;
  margin-bottom : 8px;

}

table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}

.tile-container {
    font-size : 13px;
    height: 430px;
    max-height : 430px;
    margin-bottom : 10px;
   // overflow-y: scroll;

}



.pr-5 {
  padding-right : 5px !important;
} 

.groups-container {
    min-height: 210px;
    max-height: 210px;
    margin: 0px 0px 8px 0px;
    overflow: hidden;

}

.groups-container li {
   background: #f5f6f8;
}

.groups-container li:nth-child(odd) {
   background: #fff;
}

.groups-container:hover{
    overflow-y : scroll;
}

.font-15 {
  font-size : 15px;
}

.font-14 {
  font-size : 14px;
}


.font-13 {
  font-size : 13px;
}



html, body {
  font-family: "sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #252930;
   /*  min-height: 100%;   */
}

.main-container {
  position: relative;
  padding : 0 auto;
  margin : 0;


}

.login-body-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  
}

.body-container {
  min-height: 100vh;
  background-color: #fff; 
}

.post-body-container {
  min-height: 100vh;
  background-color: #fff;
  
}

.login-container {
  position: relative !important;
  padding-top: 118px;
  min-height: 100vh !important;
  background-color: #f5f5f5;

}


img#login-logo {
    width: 312px;
    height: 79px;
}
img#home-logo {
    width: 155px;
    height: 40px;
}


.login-form {
      position: relative;
      padding-top: 110px;
}

.white-drop {
  background-color: #ffffff;
  height: 50px;
  border: 1px solid #e5e5e5;
}

.custom-form {
    /* height: 48px; */
   /* top: -16px; */
  /*   position: relative; */
    border: 1px solid #e5e5e5;
    padding: 25px !important;
    border-radius: 0;
}

.fw-400 {
      color: #9e9e9e;
      font-weight: 400;
     /*  font-size: 1.5vw; */
}

.error-styles{
  padding-left: 10px;
}

#submit-button {
    height: 50px;
    background: #0b880b;
    color: white;
    font-weight: 400;
}

#delete-button {
    height: 50px;
    background: #eeeeee;
    color: #a5a5a5;
   
}



/**/
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}



/*  content style */
.content-container {
  position: relative !important;
  /* padding-top: 118px;*/
  /*  min-height: 1600px !important; */
   padding-top:155px;
  /* background-color: #fff; */

}

.result-container {
  height: 200px;
}

.post-image {
  height: 180px !important;
}

/* content headerr */
.fixed-header {
  min-height: 155px;
  max-height:155px !important;
  position: fixed;
  z-index: 999;
  background-color: #f5f5f5;
 /*  width:100%; */
 display: table;  

}
@media (min-width: 1140px) {
    .fixed-header {
        width:50%;
    }

.scroll-content {
  min-height: 100%;
  background: white;

}

.row.headbar{
    flex: 1 1 auto;
    padding-top:30px;
    min-height: 90px;
}

.paddingtoponly-35 {
  padding: 35px 0px 0px 0px;
}

.astig-form {
    padding: 25px;
    border-radius: 0;
}